<div class="promise" id="promise9" data-promise="partial">

  <div class="goal green">
    <div class="status">Promise #<span class="promise-number"></span></div>
    <div class="text">
      Use Rapid Rehousing dollars to move up to 231 people into permanent housing
      <div class="source">
        <a href="https://www.seattletimes.com/seattle-news/homeless/seattles-homeless-shelter-surge-unveiled-with-fewer-shelter-beds-more-questions/" target="_blank" rel="nofollow noreferrer noopener">
        Source: Seattle’s homeless ‘shelter surge’ unveiled with fewer shelter beds, more questions
        </a>
      </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status partial">Promise in progress</div>
    <div class="text">
      explanation
    </div>
  </div>

</div>
