<div class="promise" data-promise="kept">
  <div class="goal green">
    <div class="status">Promise</div>
    <div class="text">
      Expand Tiny House Villages
    <div class="source">Source: some ST article here</div>
    </div>
  </div>
  <div class="kept">
    <div class="status yes">Promise kept</div>
    <div class="text">
    By the end of 2021, the city did complete this goal.

    <div class="line">Two new villages opened
      <span class="hotel"> <i class="fas fa-home"></i> <i class="fas fa-home"></i> </span>
    </div>

    <div class="line">and the village at Interbay expanded its capacity.
      <span class="hotel"><i class="fas fa-user-plus"></i></span>
    </div>


    </div>
  </div>

</div>
