<div class="promise" data-promise="kept" data-number="1">
  <div class="goal blue">
    <div class="status">Promise #1</div>
    <div class="text">
    Purchase 7 hotels
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/king-county-has-quickly-bought-seven-hotels-for-homeless-but-will-it-be-enough/" target="_blank" rel="nofollow noopener noreferrer">Source: some ST article here</a>
    </div>
    </div>
  </div>
  <div class="kept">
    <div class="status yes">Promise kept</div>
    <div class="text">



    <div class="line">
      After promising to purchase 7 hotels to house homeless people, King County exceeded its goal and purchased 9 hotels.
      <div class="hotel">
        <span class="seven">
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
        </span>
        <span class="extra">
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        </span>
      </div>
    </div>

    <div class="line bump">
      But currently, only 2 out of the 9 are providing shelter to homeless people.
      <div class="hotel">
        <span class="highlight">
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
        </span>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
      </div>
    </div>

    </div>
  </div>

</div>
