<div class="promise" id="promise10" data-promise="broken">

  <div class="goal green">
    <div class="status">Promise #<span class="promise-number"></span></div>
    <div class="text">
      Invest $60 million to build housing for chronically homeless people
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/seattles-homeless-shelter-surge-unveiled-with-fewer-shelter-beds-more-questions/" target="_blank" rel="nofollow noreferrer noopener">
      Source: Seattle Housing Levy money will go all in on homeless housing through 2021
      </a>
    </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status partial">Promise in progress</div>
    <div class="text">
      <div class="line">
        Sixty-six out of the 588 units are almost ready for tenants. Originally, the city said it would have 496 units completed by the end of 2021.

        <div class="barCon3">
          <div class="barChart3">
            <div class="valueLines3"><div class="each">100</div> <div class="each">200</div> <div class="each">300</div> <div class="each">400</div> <div class="each">500</div> <div class="each">600</div></div>
            <div class="bar3 OneFourFive"></div>
          </div>
        </div>
      </div>

      <div class="line bump">
        But no one moved by the end of the year.
        <div class="person-slash">
          <i class="fas fa-users-slash"></i>
        </div>
      </div>
    </div>
  </div>

</div>
