<div class="promise" id="promise6" data-promise="partial" data-number="6">

  <div class="goal blue">
    <div class="status">Promise #6</div>
    <div class="text">
      Buy 3 New Apartment Buildings
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/politics/seattle-helps-buy-three-new-apartment-buildings-to-house-people-facing-homelessness/" target="_blank" rel="nofollow noreferrer noopener">
      Source: Seattle to help buy three new apartment buildings to house people facing homelessness
      </a>
    </div>
    </div>
  </div>

  <div class="kept">
    <div class="status partial">Promise in progress</div>
    <div class="text">
      <div class="line">
        In September of 2021, the city of Seattle said it would help purchase three brand new apartment
        buildings to house people who are homeless. It said that the buildings would be occupied by the end of 2021.
      </div>
      <div class="line">
        Two out of the three were purchased in 2021.
        <div class="apartment">
          <span class="highlight orange">
            <div class="eachApt">
              <i class="fas fa-building"></i>
              <div class="address"><b>The Boylston Apartments</b><br>420 Boylston Ave. E<br>Seattle, WA 98102</div>
            </div>
            <div class="eachApt">
              <i class="fas fa-building"></i>
              <div class="address"><b>Broadway Apartments</b><br>506 10th Ave. E<br>Seattle, WA 98102</div>
            </div>
          </span>
          <div class="eachApt">
            <i class="fas fa-building"></i>
            <div class="address"><b>Harvard Apartments</b><br>225 Harvard Ave. E<br>Seattle, WA 98102</div>
          </div>
        </div>
      </div>
      <div class="line">
        But no one moved in by the end of the year.
        <div class="person-slash">
          <i class="fas fa-users-slash"></i>
        </div>
      </div>

    </div>
  </div>

</div>
