<div class="promise" id="promise11" data-promise="broken">

  <div class="goal green">
    <div class="status">Promise #11</div>
    <div class="text">
      Double Seattle’s tiny house stock by 2022
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/private-companies-pledge-1-million-to-build-tiny-house-villages-in-seattle" target="_blank" rel="nofollow noreferrer noopener">
      Source: Private companies pledge $1 million to build tiny house villages in Seattle
      </a>
    </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status broken">Promise broken</div>
    <div class="text">
      <div class="line">
        Seattle City Councilmember Andrew Lewis set a goal to raise $15 million in private and public funds to build 480 tiny houses by the end of 2021.
      </div>

      <div class="line">
        He raised $4.5 million.
        <div class="barCon2">
          <div class="barChart2">
            <div class="valueLines2"><div class="each">$5M</div> <div class="each">$10M</div> <div class="each">$15M</div></div>
            <div class="bar2 FourPointFive"></div>
          </div>
        </div>
      </div>

      <div class="line bump">
        No additional homes were built.
        <div class="person-slash">
          <i class="fas fa-users-slash"></i>
        </div>
      </div>
    </div>
  </div>

</div>
