<div class="promise" id="promise1" data-promise="kept">
  <div class="goal green">
    <div class="status">Promise #<span class="promise-number"></span></div>
    <div class="text">
    Purchase 7 hotels & 1 Apartment Building
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/king-county-has-quickly-bought-seven-hotels-for-homeless-but-will-it-be-enough/" target="_blank" rel="nofollow noopener noreferrer">
        Source: King County has quickly bought 7 hotels for homeless people, but will it be enough?
      </a>
    </div>
    </div>
  </div>
  <div class="outcome">
    <div class="status kept">Promise kept</div>
    <div class="text">
    <div class="line">
      After promising to purchase 8 properties to house homeless people, King County exceeded its goal and purchased 9 properties – 7 hotels and 2 apartment buildings.
      <div class="hotel">
        <span class="seven">
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
          <i class="fas fa-building"></i>
        </span>
        <span class="extra">
        <i class="fas fa-building"></i>
        </span>
      </div>
    </div>

    <div class="line bump">
      But currently, only 2 out of the 9 are providing shelter to homeless people.
      <div class="hotel">
        <span class="highlight green">
          <i class="fas fa-hotel"></i>
          <i class="fas fa-hotel"></i>
        </span>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-hotel"></i>
        <i class="fas fa-building"></i>
        <i class="fas fa-building"></i>
      </div>
    </div>

    </div>
  </div>

</div>
