<div class="promise" id="promise3" data-promise="broken">

  <div class="goal green">
    <div class="status">Promise #<span class="promise-number"></span></div>
    <div class="text">
      Bring 500 people in off the streets of Seattle by the end of 2021
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/king-county-announces-new-proposal-to-bring-500-homeless-residents-into-shelter-using-federal-stimulus-funds" target="_blank" rel="nofollow noreferrer noopener">
      Source: King County announces new proposal to bring 500 homeless residents into shelter using federal stimulus funds
      </a>
    </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status broken">Promise broken</div>
    <div class="text">
      <div class="line">
        In April, King County Executive Dow Constantine announced a goal to bring 500 people living unsheltered in Seattle into shelter by the end of 2021.
      </div>

      <div class="line">
        According to the county, around half of the goal has been met.
        <div class="barCon4">
          <div class="barChart4">
            <div class="valueLines4"><div class="each">100</div> <div class="each">200</div> <div class="each">300</div> <div class="each">400</div> <div class="each">500</div></div>
            <div class="bar4 twoFifteen"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
