<div class="promise" id="promise5" data-promise="broken">

  <div class="goal green">
    <div class="status">Promise #<span class="promise-number"></span></div>
    <div class="text">
      Add street sinks
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/seattle-inches-toward-street-sinks-but-timeline-and-number-still-fuzzy/" target="_blank" rel="nofollow noreferrer noopener">
      Source: Seattle inches toward street sinks, but timeline and number still fuzzy
      </a>
    </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status broken">Promise broken</div>
    <div class="text">
      <div class="line">
        Starting in November 2020, the Seattle City Council earmarked $100,000 to quickly set up dozens of new outdoor sinks around the city to support homeless residents’ hygiene needs.
      </div>
      <div class="line">
        By the end of 2021, only two sinks had been installed.
        <div class="sinks highlight red">
          <div class="eachSink">
            <i class="fas fa-faucet"></i>
            <div class="address"><b>University Heights Center</b><br> 5031 University Way N.E.<br>Seattle</div>
          </div>
          <div class="eachSink">
            <i class="fas fa-faucet"></i>
            <div class="address"><b>El Centro De La Raza</b><br>2524 16th Ave. S.<br>Seattle</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
