<div class="promise" data-promise="broken" data-number="3">

  <div class="goal green">
    <div class="status">Promise #3</div>
    <div class="text">
      Bring 500 people in off the streets of Seattle by the end of 2021
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/king-county-announces-new-proposal-to-bring-500-homeless-residents-into-shelter-using-federal-stimulus-funds" target="_blank" rel="nofollow noreferrer noopener">
      Source: some ST article here
      </a>
    </div>
    </div>
  </div>

  <div class="kept">
    <div class="status no">Promise broken</div>
    <div class="text">
      <div class="line">
        In April of 2021, King County Executive Dow Constantine announced a goal to bring 500 people living
        unsheltered in Seattle into shelter by the end of 2021.
      </div>

      <div class="line">According to the county, that goal has not been met.</div>

    </div>
  </div>

</div>
