<div class="promise" id="promise8" data-promise="kept" data-number="8">

  <div class="goal blue">
    <div class="status">Promise #8</div>
    <div class="text">
      Add 60 new 24-hour shelter beds
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/seattles-homeless-shelter-surge-unveiled-with-fewer-shelter-beds-more-questions/" target="_blank" rel="nofollow noreferrer noopener">
      Source: Seattle’s homeless ‘shelter surge’ unveiled with fewer shelter beds, more questions
      </a>
    </div>
    </div>
  </div>

  <div class="kept">
    <div class="status yes">Promise kept</div>
    <div class="text">
      <div class="line">
        Seattle funded a 60-bed shelter at First Presbyterian Church operated by WHEEL. It officially opened in May of 2021.

        <div class="bed highlight green">
          <i class="fas fa-bed"></i>
          <span class="sixty">X  <span>60</span></span>
        </div>

      </div>
    </div>
  </div>

</div>
