<div class="promise" id="promise2" data-promise="partial">

  <div class="goal green">
    <div class="status">Promise No. <span class="promise-number"></span></div>
    <div class="text">
      House 1,600 people in hotels by the end of 2022
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/king-county-will-buy-hotels-to-permanently-house-1600-homeless-people/" target="_blank" rel="nofollow noreferrer noopener">
      Source: King County plans to buy hotels to permanently house 1,600 homeless people
      </a>
    </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status partial">Promise in progress</div>
    <div class="text">
      King County set a goal in 2021 to house 1,600 homeless people in hotels by the end of 2022.

      <div class="line">
        It has purchased 859 units in hotels and apartment buildings.

        <div class="barCon">
          <div class="barChart">
            <div class="valueLines"><div class="each">200</div> <div class="each">400</div> <div class="each">600</div> <div class="each">800</div> <div class="each">1,000</div> <div class="each">1,200</div> <div class="each">1,400</div> <div class="each">1,600</div></div>
            <div class="bar Eight59"></div>
          </div>
        </div>
      </div>
      <div class="line">
        But so far only 180 units are being used.
        <div class="barCon">
          <div class="barChart">
            <div class="valueLines"><div class="each">200</div> <div class="each">400</div> <div class="each">600</div> <div class="each">800</div> <div class="each">1,000</div> <div class="each">1,200</div> <div class="each">1,400</div> <div class="each">1,600</div></div>
            <div class="bar One80"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
