<div class="promise" id="promise4" data-promise="kept" data-number="4">
  <div class="goal blue">
    <div class="status">Promise #4</div>
    <div class="text">
      Expand Tiny House Villages

    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/with-two-new-villages-and-an-expansion-the-effort-to-double-tiny-house-villages-in-seattle-begins/" target="_blank" rel="nofollow noreferrer noopener">
      Source: With 2 new villages and an expansion, the effort to double tiny house villages in Seattle begins
      </a>
    </div>
    </div>
  </div>
  <div class="kept">
    <div class="status yes">Promise kept</div>
    <div class="text">
    By the end of 2021, the city did complete this goal.

    <div class="line">Two new villages opened
      <span class="hotel"> <i class="fas fa-home"></i> <i class="fas fa-home"></i> </span>
    </div>

    <div class="line">and the village at Interbay expanded its capacity.
      <span class="hotel"><i class="fas fa-user-plus"></i></span>
    </div>


    </div>
  </div>

</div>
