<div class="promise" id="promise9" data-promise="partial">

  <div class="goal green">
    <div class="status">Promise No. <span class="promise-number"></span></div>
    <div class="text">
      Use rapid-rehousing dollars to move up to 231 people into permanent housing
      <div class="source">
        <a href="https://www.seattletimes.com/seattle-news/homeless/seattles-homeless-shelter-surge-unveiled-with-fewer-shelter-beds-more-questions/" target="_blank" rel="nofollow noreferrer noopener">
        Source: Seattle’s homeless ‘shelter surge’ unveiled with fewer shelter beds, more questions
        </a>
      </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status partial">Promise in progress</div>
    <div class="text">
      The city of Seattle can’t say how many people have received rapid-rehousing dollars. But in one hotel program run by the Low Income Housing Institute, 33 people have made use of funds so far.     
    </div>
</div>
</div>
