<div class="promise" id="promise8" data-promise="kept">

  <div class="goal green">
    <div class="status">Promise <span class="promise-number"></span></div>
    <div class="text">
      Add 60 new 24-hour shelter beds
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/seattles-homeless-shelter-surge-unveiled-with-fewer-shelter-beds-more-questions/" target="_blank" rel="nofollow noreferrer noopener">
      Source: Seattle’s homeless ‘shelter surge’ unveiled with fewer shelter beds, more questions
      </a>
    </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status kept">Promise kept</div>
    <div class="text">
      <div class="line">
        Seattle funded a 60-bed shelter at Seattle First Presbyterian Church operated by WHEEL. It officially opened in May.

        <div class="bed highlight green">
          <i class="fas fa-bed"></i>
          <span class="sixty">X  <span>60 beds</span></span>
        </div>

      </div>
    </div>
  </div>

</div>
