<div class="promise" id="promise7" data-promise="kept">

  <div class="goal green">
    <div class="status">Promise #<span class="promise-number"></span></div>
    <div class="text">
      Open two hotels for up to one year to house homeless people
    <div class="source">
      <a href="https://www.seattletimes.com/seattle-news/homeless/seattles-homeless-shelter-surge-unveiled-with-fewer-shelter-beds-more-questions/" target="_blank" rel="nofollow noreferrer noopener">
      Source: Seattle’s homeless ‘shelter surge’ unveiled with fewer shelter beds, more questions
      </a>
    </div>
    </div>
  </div>

  <div class="outcome">
    <div class="status kept">Promise kept</div>
    <div class="text">
      <div class="line">
        Both hotels began housing people in March. Both hotel programs are expected to end Jan. 31.
        <div class="hotelSeven">
          <span class="highlight green">
            <div class="eachHotel">
              <i class="fas fa-hotel"></i>
              <div class="address"><b>Kings Inn</b><br>2106 5th Ave.<br>Seattle</div>
            </div>
            <div class="eachHotel">
              <i class="fas fa-hotel"></i>
              <div class="address"><b>Executive Hotel Pacific</b><br>400 Spring St.<br>Seattle</div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>
