
<section class="thin-div">
	<div class="center">Credits</div>
</section>
<section class="project-credits">

		<p class="project-credit"><strong>Reporting: </strong><a href="https://www.seattletimes.com/author/anna-patrick/">Anna Patrick</a></p>

		<p class="project-credit"><strong>Design and development: </strong>
			<a href="https://www.seattletimes.com/author/lauren-flannery/">Lauren Flannery</a>
			</p>

		<p class="project-credit"><strong>Editing: </strong>
			<a href="https://www.seattletimes.com/author/mharbarger/">Molly Harbarger</a> and
			<a href="https://www.seattletimes.com/author/emily-m-eng/">Emily M. Eng</a>
		</p>

</section>
