<section class="thin-div">
  <div class="center">Don’t Miss</div>
</section>

<section class="dont-miss">

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/homeless/the-pandemic-split-the-homeless-system-in-two-a-year-later-the-differences-remain-stark/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/dontmiss/story2.jpg"
          alt="Andrea Longino, 34, and her dog Justice have been living in her car. (Ellen M. Banner / The Seattle Times)">
        </a>
        <div class="small">Project Homeless</div>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/homeless/the-pandemic-split-the-homeless-system-in-two-a-year-later-the-differences-remain-stark/" target="_blank" rel="noreferrer noopener nofollow">
            The COVID pandemic split the King County homeless system in two. A year later, the differences remain stark
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/homeless/getting-treatment-while-homeless-was-hard-before-covid-its-nearly-impossible-now-nurses-and-navigators-say/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/dontmiss/story2.jpg"
          alt="Frank Ford waits for his appointment at Meridian Center For Health on May 21. (Nicole Pasia / Special to The Seattle Times)">
        </a>
        <div class="small">Project Homeless</div>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/homeless/getting-treatment-while-homeless-was-hard-before-covid-its-nearly-impossible-now-nurses-and-navigators-say/" target="_blank" rel="noreferrer noopener nofollow">
            Seattle’s homeless people spiral further into crisis as COVID makes treatment nearly impossible to finds
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/homeless/washington-states-rise-in-homelessness-outpaced-the-nations-according-to-report/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/dontmiss/story4.jpg"
          alt="Tents and the Seattle skyline can be seen from the Jose Rizal Bridge on Friday.(Erika Schultz / The Seattle Times)"
          >
        </a>
        <div class="small">Project Homeless</div>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/homeless/washington-states-rise-in-homelessness-outpaced-the-nations-according-to-report/" target="_blank" rel="noreferrer noopener nofollow">
            Washington state’s rise in homelessness outpaced the nation’s, according to report
          </a>
        </div>
      </div>
    </div>

    <div class="story">
      <div class="padded">
        <a href="https://www.seattletimes.com/seattle-news/homeless/coronavirus-pushed-seattle-to-treat-homelessness-differently-will-those-changes-last/" target="_blank" rel="noreferrer noopener nofollow">
          <img src="./assets/dontmiss/story3.jpg"
          alt="Joe Bernstein has been living on the street for eight years. (Alan Berner / The Seattle Times)"
          >
        </a>
        <div class="small">Project Homeless</div>
        <div>
          <a href="https://www.seattletimes.com/seattle-news/homeless/coronavirus-pushed-seattle-to-treat-homelessness-differently-will-those-changes-last/" target="_blank" rel="noreferrer noopener nofollow">
            Coronavirus pushed Seattle to treat homelessness differently. Will those changes last?
          </a>
        </div>
      </div>
    </div>

</section>
